.whole_area{
    position: absolute;
    width: 940px;
    height: 550px;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -270px;
    /*background: darkgray;*/
}
.chart_friend_area{
    width: 120px;
    height: 550px;
    float: left;
    background: darkcyan;
}
.chart_area{
    width: 560px;
    height: 550px;
    background: wheat;
    padding-left: 120px;
}
.chart_msg{
    width: 560px;
    height: 370px;
    /*    background: salmon;*/
    overflow: auto;
}
.chart_msg ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
.chart_msg ul li{
    margin-top: 50px;
    border-radius: 2px;
    width: 400px;
    word-break:break-all
}
.head_img{
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    overflow: hidden;
}
.chart_text{

    word-break: break-all;
    margin-left: 60px;
}
.head_img img{
    border-radius: 4px;
    width: 30px;
    height: 30px;
}
.send_msg{
    width: 560px;
    height: 110px;
    background: cadetblue;
}
.face_icon{
    width: 560px;
    height: 30px;
    background: saddlebrown;
}
.send_msg textarea{
    width: 560px;
    height: 110px;
    font: "宋体";
}
.send_clear{
    width: 560px;
    height: 40px;
    background: sandybrown;
}
.send_but{
    width: 90px;
    height: 30px;
    background: seagreen;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
.send_but:active{

}
.send_but:hover{
    background: seashell;
    cursor: pointer;
}

.friend_area{
    width: 220px;
    height: 550px;
    background-color: darkcyan;
    margin-top: -550px;
    margin-left:680px;
}
.close_but{
    width: 40px;
    height: 100px;
    background: skyblue;
    float: right;
    margin-top: -550px;
}